#favorites-page{
  display: flex;
  flex-direction: column;

  h1{
    padding: 10px 10px;
    background-color: #212121;
    color: white;
  }
  .card-list{
    margin: auto;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 10px;
    margin-bottom: 16px;
    .no-results{
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      span{
        margin-top: 8px;
      }
    }
  }
} 
